body {
    background-color: #eef0f6;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  #Button {
    height: 400px;
    width: 400px;
    border: none;
    background: none;
    cursor: pointer;
    transition: all ease-out 1s;
    &:focus {
      outline: 2px solid #9ca3cb;
    }
    &:hover {
      transform: scale(1.05)
    }
    &::-moz-focus-inner {
      border: 0;
    }
    svg {
      outline: none;
    }
  }
  .Button__text {
    fill: #6b7190;
  }
  .screenreader-only {
    height: 1px;
    overflow: hidden;
    position: absolute;
    width: 1px;
  }
  
  #bgBlobEnd , #frontBlobEnd, .circle {
    visibility:hidden;
  }
  .circle {
    fill: white;
    stroke: white;
    visibility:hidden;
    opacity: 0;
  }
  .frontBlob {
    fill: #fffff8;
  }